/* Styles from
    http://tachyons.io/components/pages/portfolio-project/index.html
    most not in use - explore the above page if wanting to update the site
*/

.border-box {
    box-sizing: border-box;
}

.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--16x9 {
    padding-bottom: 56.25%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-top {
    background-repeat: no-repeat;
    background-position: top center;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.b--black-05 {
    border-color: rgba(0, 0, 0, .05);
}

.bw2 {
    border-width: .25rem;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.serif {
    font-family: georgia, times, serif;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.fw1 {
    font-weight: 100;
}

.fw6 {
    font-weight: 600;
}

.vh-75 {
    height: 75vh;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.mw8 {
    max-width: 64rem;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.w-third {
    width: calc(100% / 3);
}

.overflow-hidden {
    overflow: hidden;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.gray {
    color: #777;
}

.white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.pl2 {
    padding-left: .5rem;
}

.pr0 {
    padding-right: 0;
}

.pr2 {
    padding-right: .5rem;
}

.pv5 {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.pv6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 4rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 1.25rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(.9);
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .f2-ns {
        font-size: 2.25rem;
    }

    .f3-ns {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }

    .w-100-m {
        width: 100%;
    }

    .pl0-m {
        padding-left: 0;
    }

    .pr0-m {
        padding-right: 0;
    }

    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mt4-m {
        margin-top: 2rem;
    }

    .f3-m {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 60em) {
    .w-33-l {
        width: 33%;
    }

    .pl2-l {
        padding-left: .5rem;
    }

    .pr2-l {
        padding-right: .5rem;
    }

    .pv6-l {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .pv7-l {
        padding-top: 16rem;
        padding-bottom: 16rem;
    }

    .ph3-l {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .f1-l {
        font-size: 3rem;
    }

    .f2-l {
        font-size: 2.25rem;
    }
}
